body{
font-family:Arial;
background:#f3f3f3;
padding:40px
}

h1{
color:#2c3e50
}

table{
border-collapse:collapse;
background:white;
margin-top:20px
}

td,th{
border:1px solid #ddd;
padding:10px
}

input{
padding:10px
}

button{
padding:10px;
cursor:pointer
}